﻿@model int

@{
    ViewBag.Title = "DeleteOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Orders</h2>
@if (Model > 0)
{
    <div id="preDel">
        <p>Are you sure you want to delete all the orders?</p>
        <p><a id="delAllBtn" href="#" class="btn btn-danger btn-lg">Yes, I am sure! <i class="fa fa-trash-alt"></i></a></p>
    </div>
    <div id="delConf">
        <p>All the orders have been deleted.</p>
        <p><a href="/upload-file/" class="btn btn-primary btn-lg">Upload File <i class="fa fa-upload"></i></a>
    </div>
}
else
{
    <p>Sorry, but there are no orders in the system. Please upload an order file to continue.</p>
    <p>
        <a href="/upload-file/" class="btn btn-primary btn-lg">Upload File <i class="fa fa-upload"></i></a>
    </p>

}
