﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Challenge</h1>
    <p class="lead">Build a web application that includes a database, a .Net-based API, and a website.</p>
    <p>
        <a href="/upload-file/" class="btn btn-primary btn-lg">Upload File <i class="fa fa-upload"></i></a>
        <a href="/view-orders/" class="btn btn-success btn-lg">View Orders <i class="fa fa-magic"></i></a>
        <a href="/delete-orders/" class="btn btn-danger btn-lg">Delete Orders <i class="fa fa-trash-alt"></i></a>
    </p>
</div>