﻿
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload File</h2>

<div id="uploadDiv">
    <p>Please choose the file you wish to upload and then click the upload button to continue...</p>
    <form id="uploadForm">
        <input type="file" class="custom-file-input" id="customFile" accept=".csv">
        <br /><a id="formUploadBtn" href="#" class="btn btn-success btn-lg">Upload File <i class="fa fa-upload"></i></a>
    </form>
</div>
<div id="uploadCompleteDiv">
    <p>Congrats, your file has been uploaded.  You may now view the orders online...</p>
    <p><a href="/view-orders/" class="btn btn-success btn-lg">View Orders <i class="fa fa-magic"></i></a></p>
</div>