﻿@model List<tulaChallenge.Models.order>
@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>

@if (Model == null || Model.Count == 0)
{
    <p>Sorry, but there are no orders in the system. Please upload an order file to continue.</p>
    <p><a href="/upload-file/" class="btn btn-primary btn-lg">Upload File <i class="fa fa-upload"></i></a>
</p>
}
else
{
    <p>Click an order to show/hide it's details...</p>
    foreach (tulaChallenge.Models.order o in Model)
    {
        <div class="orderDiv" data-orderid="@o.orderID">
            <p>
                Order ID #@o.orderID
                <br />Number Tickets: @o.tickets.Count
                <div id="tickets_@o.orderID">
                    @foreach (tulaChallenge.Models.ticket t in o.tickets)
                    {
                        <p class="ticketDetail">
                            Ticket Number: @t.ticketNumber
                            <br />Event Date: @t.eventDate
                            <br />Name: @t.firstName @t.lastName
                        </p>
                    }
                </div>
            </p>
        </div>
    }
}
